@use "./variables" as *;
@use "./typefaces" as *;
@use "./mixins" as *;
@use "./reset" as*;

a {
    color: $primary-lighter;
}

.nav {
    background-color: $primary-dark;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        gap: 2.5rem;
        align-items: stretch;
    }

    &__logo {
        height: 1.25rem;
        padding-top: 1.2rem;

        @include tablet {
            height: 1.1rem;
            padding: 1.5rem 2.2rem 1.1rem;
        }

        @include desktop {
            height: 1.2rem;
            padding: 2.1rem 1rem 1.8rem 8rem;
        }
    }

    &__list {
        display: flex;
        width: 100%;

        @include tablet {
            width: auto;
            gap: 3rem;
        }

        @include desktop {
            gap: 2.1rem;
        }

        &-item {
            font-size: 0.83rem;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: stretch;

            @include tablet {
                font-size: 0.85rem;
                padding-top: 0.9rem;
            }

            @include desktop {
                font-size: 0.88rem;
                padding-top: 1.7rem;
            }

            & a {
                color: $secondary-light;
                width: 100%;
                padding: 0.5rem 0 0.7rem;

                @include tablet {
                    padding-bottom: 0.3rem;
                }
            }

            &--active,
            &:hover {
                border-bottom: solid white 4px;

                & a {
                    color: $primary-lighter;
                }
            }

        }
    }
}


.footer {
    background: $primary-dark;
    color: $primary-lighter;
    padding: 1.6rem 1rem 1rem;

    @include tablet {
        padding: 2.65rem 2.2rem 2.5rem;
    }

    @include desktop {
        padding: 2.6rem 8rem;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: 1.1rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0rem;
        }

        @include desktop {
            align-items: baseline;
            gap: 2rem;
        }
    }

    &__title {
        font-size: 1.48rem;
        font-weight: 600;
        line-height: 2rem;
        color: $primary-lighter;

        @include tablet {
            font-size: 2.4rem;
            line-height: 3rem;
        }

        @include desktop {
            font-size: 2.3rem;
        }
    }

    &__social {
        display: flex;
        width: 40%;
        justify-content: space-between;
        padding-bottom: 1.4rem;
        height: 1.4rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            width: 18%;
            padding: 0 2rem;
            height: 35%;
        }

        @include desktop {
            width: 7.7rem;
            height: 1.5rem;
        }

        &-icon {
            height: 100%;
        }

    }

    &__team {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding-bottom: 3.5rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            padding: 2.2rem 0 1.2rem;
            justify-content: space-between;
        }

        @include desktop {
            gap: 0;
            padding: 2.2rem 14rem 1.8rem 0;
        }
    }

    &__copyright {
        padding-top: 1rem;
        font-size: 0.7rem;
        color: $secondary-lighter;

        @include tablet {
            font-size: 0.92rem;
            padding: 0;
        }

        @include desktop {
            font-size: 0.88rem;
        }
    }

    &__logo {
        height: 1.2rem;

        @include tablet {
            height: 1.2rem;
            position: relative;
            bottom: 15.3rem;
            left: 36.4rem;
        }

        @include desktop {
            position: relative;
            left: 56.8rem;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

    @include tablet {
        gap: 1.3rem;
    }

    &__name {
        font-size: 0.78rem;
        font-weight: 600;
        line-height: 1.35rem;
        color: $primary-lighter;

        @include tablet {
            font-size: 0.9rem;
            font-weight: 600;
            line-height: 1.4rem;
        }

        @include desktop {
            font-size: 0.8rem;
        }

    }

    &__address {
        font-style: normal;
        font-size: 0.78rem;
        line-height: 1.2rem;
        color: $secondary-lighter;

        @include tablet {
            font-size: 0.9rem;
            line-height: 1.4rem;
        }

        @include desktop {
            font-size: 0.8rem;
        }
    }

    &__email {
        font-size: 0.78rem;
        color: $secondary-lighter;

        @include tablet {
            font-size: 0.9rem;
        }

        @include desktop {
            font-size: 0.8rem;
        }
    }
}