$primary-dark: #323232;
$primary-light: #AFAFAF;
$primary-lighter: #FFF;
$secondary-dark: #000;
$secondary-light: #E1E1E1; //mercury
$secondary-lighter: #FAFAFA; //alabaster
$filter-color: rgba(50, 50, 50, 0.5);