@use "./partials/variables"as *;
@use "./partials/global"as *;
@use "./partials/typefaces"as *;
@use "./partials/mixins"as*;
@use "./partials/reset"as*;

.hero {
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/Images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
}

.bio {
    display: flex;
    flex-direction: column;
    padding: 2.05rem 1rem 1.05rem;

    @include tablet {
        padding: 2.8rem 2.2rem 2rem;
    }

    @include desktop {
        padding: 2.1rem 8rem 2.1rem;
    }

    &__context {
        @include tablet {
            padding: 1rem 3.75rem 0;
        }

        @include desktop {
            padding: 1.7rem 5rem 0;
        }
    }

    &__title {
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 1rem;

        @include tablet {
            font-size: 2.1rem;
            padding-top: 1.1rem;
        }
    }

    &__img {
        background-image: url(../assets/Images/band.jpg);
        background-position: center;
        background-size: cover;
        height: 12rem;
        margin-bottom: 1rem;

        @include tablet {
            height: 19rem;
            margin-bottom: 2rem;
        }

        @include desktop {
            height: 30rem;
        }
    }

    &__quote {
        font-size: 1.05rem;
        font-weight: 600;
        line-height: 1.8rem;

        @include tablet {
            font-size: 1.35rem;
            font-weight: 600;
            line-height: 1.9rem;
        }

        @include desktop {
            display: inline-block;
            width: 40rem;
        }
    }

    &__quotee {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.8rem;
        margin: 0.5rem 0 1.8rem;

        @include tablet {
            font-size: 1rem;
            margin: 0.55rem 0 3rem;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3rem;

    &__subtitle {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1rem;
        line-height: 1rem;

        @include tablet {
            font-size: 1.35rem;
            font-weight: 600;
            line-height: 1.9rem;
        }
    }

    &__content {
        font-size: 1rem;
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include tablet {
            flex-direction: row;
            font-size: 0.9rem;
        }
    }
}

.gallery {
    background-color: $secondary-alabaster;
    padding: 1.5rem 1rem 1.3rem;

    @include tablet {
        padding: 2.1rem 2.2rem 2rem;
    }

    @include desktop {
        padding: 2.1rem 8rem 2rem;

    }

    &__title {
        @extend .bio__title;
        letter-spacing: 0.3px;
        padding-bottom: 1rem;
    }

    &__collection {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1.4rem;
        }
    }

    &__img {
        width: 100%;

        @include tablet {
            width: 31%;
        }
    }
}