@use "./partials/variables"as *;
@use "./partials/global"as *;
@use "./partials/typefaces"as *;
@use "./partials/mixins"as*;
@use "./partials/reset"as*;


.hero {
    background: linear-gradient($filter-color, $filter-color), url("../assets/Images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    height: 13rem;

    @include tablet {
        height: 28rem;
    }

    @include desktop {
        height: 39.5rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        position: relative;
        color: $primary-white;
        top: 5rem;
        left: 1.2rem;
        line-height: 2rem;

        @include tablet {
            font-size: 3.7rem;
            line-height: 4rem;
            top: 12rem;
            left: 2.2rem;
        }

        @include desktop {
            font-size: 3.45rem;
            top: 18rem;
            left: 8.1rem;
        }
    }
}


.bio {
    display: flex;
    flex-direction: column;
    padding: 1.6rem 1rem 1.05rem;

    @include tablet {
        padding: 2.8rem 2.2rem 2rem;
    }

    @include desktop {
        padding: 2.1rem 8.1rem 2.1rem;
    }

    &__context {
        @include tablet {
            padding: 1rem 3.75rem 0;
        }

        @include desktop {
            padding: 1.7rem 5rem 0;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 0.8rem;

        @include tablet {
            font-size: 2.1rem;
            padding-top: 1.1rem;
        }
    }

    &__img {
        background-image: url(../assets/Images/band.jpg);
        background-position: center;
        background-size: cover;
        height: 10rem;
        margin-bottom: 1rem;

        @include tablet {
            height: 19rem;
            margin-bottom: 2rem;
        }

        @include desktop {
            height: 28rem;
        }
    }

    &__quote {
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1.5rem;

        @include tablet {
            font-size: 1.35rem;
            font-weight: 600;
            line-height: 1.9rem;
            letter-spacing: 0.55px;
        }

        @include desktop {
            font-size: 1.3rem;
            letter-spacing: 1.1px;
            display: inline-block;
            width: 43rem;
        }
    }

    &__quotee {
        font-size: 0.95rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin: 0.5rem 0 1.5rem;

        @include tablet {
            font-size: 1rem;
            margin: 0.55rem 0 3rem;
        }

        @include desktop {
            font-size: 0.9rem;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3rem;

    &__subtitle {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 1rem;
        line-height: 1rem;

        @include tablet {
            font-size: 1.35rem;
            font-weight: 600;
            line-height: 1.9rem;
        }

        @include desktop {
            font-size: 1.58rem;
        }
    }

    &__content {
        font-size: 0.83rem;
        line-height: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include tablet {
            flex-direction: row;
            font-size: 0.85rem;
        }

        @include desktop {
            font-size: 0.89rem;
        }
    }
}

.gallery {
    background-color: $secondary-alabaster;
    padding: 1.4rem 1rem 1.3rem;

    @include tablet {
        padding: 2.1rem 2.2rem 2rem;
    }

    @include desktop {
        padding: 2.1rem 8rem 2rem;

    }

    &__title {
        @extend .bio__title;
        letter-spacing: 0.3px;

        @include desktop {
            padding-bottom: 1.4rem;
        }
    }

    &__collection {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1.4rem;
        }
    }

    &__img {
        width: 100%;
        filter: grayscale(0.75);

        @include tablet {
            width: 31%;
        }

        &:hover {
            filter: none;
        }
    }
}