@use "./partials/variables"as *;
@use "./partials/global"as *;
@use "./partials/typefaces"as *;
@use "./partials/mixins"as*;
@use "./partials/reset"as*;


.hero {
    background: linear-gradient($filter-color, $filter-color), url("../assets/Images/hero-shows.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 18rem;

    @include tablet {
        height: 28rem;
    }

    @include desktop {
        height: 39.5rem;
    }

    &__text {
        font-size: 0.84rem;
        position: relative;
        color: $primary-lighter;
        width: 15rem;
        top: 1.8rem;
        left: 1.2rem;
        line-height: 2rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        position: relative;
        color: $primary-lighter;
        width: 15rem;
        top: 2.7rem;
        left: 1.2rem;
        line-height: 2rem;

        @include tablet {
            font-size: 3.7rem;
            line-height: 4rem;
            top: 12rem;
            left: 2.2rem;
        }

        @include desktop {
            font-size: 3.45rem;
            top: 18rem;
            left: 8.1rem;
        }
    }

}