@use "./partials/variables" as *;
@use "./partials/global" as *;
@use "./partials/typefaces" as *;
@use "./partials/mixins" as*;
@use "./partials/reset" as*;


.hero {
    background: linear-gradient($filter-color, $filter-color), url("../assets/Images/hero-shows.jpg");
    background-position: 0 30%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 17.2rem;

    @include tablet {
        background-position: 0 45%;
        height: 30.7rem;
    }

    @include desktop {
        height: 39.5rem;
        background-position: 0 30%;
    }

    &__text {
        font-size: 0.84rem;
        position: relative;
        color: $primary-lighter;
        width: 15rem;
        top: 1.6rem;
        left: 0.95rem;
        line-height: 2rem;

        @include tablet {
            width: 30rem;
            font-size: 1.5rem;
            font-weight: 600;
            left: 2.2rem;
            top: 3.5rem;
        }

        @include desktop {
            top: 12.3rem;
            left: 8.1rem;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        position: relative;
        color: $primary-lighter;
        width: 15.2rem;
        top: 2.1rem;
        left: 0.95rem;
        line-height: 2rem;
        letter-spacing: 0.3px;

        @include tablet {
            width: 33rem;
            font-size: 3.65rem;
            line-height: 4.15rem;
            top: 4.35rem;
            left: 2.2rem;
            letter-spacing: 0.8px;
        }

        @include desktop {
            width: 31rem;
            font-size: 3.5rem;
            top: 13.2rem;
            left: 8.1rem;
            letter-spacing: 2.6px;
        }

    }

    &__song {
        position: relative;
        width: 18rem;
        top: 3.3rem;
        left: 0.95rem;

        @include tablet {
            width: 26.35rem;
            top: 7.8rem;
            left: 2.2rem;
        }

        @include desktop {
            width: 25.6rem;
            left: 46rem;
            top: 5.3rem;
        }

        @include desktop {}

        & iframe {
            height: 6rem;

            @include tablet {
                height: 8.5rem;
            }
        }
    }

}