@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype"), url(../assets/Font/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype"), url(../assets/Font/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype"), url(../assets/Font/Alternative-files/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
}
* {
  margin: 0;
  font-family: "Avenir Next";
  padding: 0;
  color: #323232;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a {
  color: #FFF;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    gap: 2.5rem;
    align-items: stretch;
  }
}
.nav__logo {
  height: 1.25rem;
  padding-top: 1.2rem;
}
@media (min-width: 768px) {
  .nav__logo {
    height: 1.1rem;
    padding: 1.5rem 2.2rem 1.1rem;
  }
}
@media (min-width: 1280px) {
  .nav__logo {
    height: 1.2rem;
    padding: 2.1rem 1rem 1.8rem 8rem;
  }
}
.nav__list {
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .nav__list {
    width: auto;
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    gap: 2.1rem;
  }
}
.nav__list-item {
  font-size: 0.83rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
@media (min-width: 768px) {
  .nav__list-item {
    font-size: 0.85rem;
    padding-top: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .nav__list-item {
    font-size: 0.88rem;
    padding-top: 1.7rem;
  }
}
.nav__list-item a {
  color: #E1E1E1;
  width: 100%;
  padding: 0.5rem 0 0.7rem;
}
@media (min-width: 768px) {
  .nav__list-item a {
    padding-bottom: 0.3rem;
  }
}
.nav__list-item--active, .nav__list-item:hover {
  border-bottom: solid white 4px;
}
.nav__list-item--active a, .nav__list-item:hover a {
  color: #FFF;
}

.footer {
  background: #323232;
  color: #FFF;
  padding: 1.6rem 1rem 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 2.65rem 2.2rem 2.5rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 2.6rem 8rem;
  }
}
.footer__head {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
@media (min-width: 768px) {
  .footer__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0rem;
  }
}
@media (min-width: 1280px) {
  .footer__head {
    align-items: baseline;
    gap: 2rem;
  }
}
.footer__title {
  font-size: 1.48rem;
  font-weight: 600;
  line-height: 2rem;
  color: #FFF;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    font-size: 2.3rem;
  }
}
.footer__social {
  display: flex;
  width: 40%;
  justify-content: space-between;
  padding-bottom: 1.4rem;
  height: 1.4rem;
}
@media (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    width: 18%;
    padding: 0 2rem;
    height: 35%;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    width: 7.7rem;
    height: 1.5rem;
  }
}
.footer__social-icon {
  height: 100%;
}
.footer__team {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-bottom: 3.5rem;
}
@media (min-width: 768px) {
  .footer__team {
    display: flex;
    flex-direction: row;
    padding: 2.2rem 0 1.2rem;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__team {
    gap: 0;
    padding: 2.2rem 14rem 1.8rem 0;
  }
}
.footer__copyright {
  padding-top: 1rem;
  font-size: 0.7rem;
  color: #FAFAFA;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 0.92rem;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    font-size: 0.88rem;
  }
}
.footer__logo {
  height: 1.2rem;
}
@media (min-width: 768px) {
  .footer__logo {
    height: 1.2rem;
    position: relative;
    bottom: 15.3rem;
    left: 36.4rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    position: relative;
    left: 56.8rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
@media (min-width: 768px) {
  .contact {
    gap: 1.3rem;
  }
}
.contact__name {
  font-size: 0.78rem;
  font-weight: 600;
  line-height: 1.35rem;
  color: #FFF;
}
@media (min-width: 768px) {
  .contact__name {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .contact__name {
    font-size: 0.8rem;
  }
}
.contact__address {
  font-style: normal;
  font-size: 0.78rem;
  line-height: 1.2rem;
  color: #FAFAFA;
}
@media (min-width: 768px) {
  .contact__address {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .contact__address {
    font-size: 0.8rem;
  }
}
.contact__email {
  font-size: 0.78rem;
  color: #FAFAFA;
}
@media (min-width: 768px) {
  .contact__email {
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .contact__email {
    font-size: 0.8rem;
  }
}

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/Images/hero-shows.jpg");
  background-position: 0 30%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 17.2rem;
}
@media (min-width: 768px) {
  .hero {
    background-position: 0 45%;
    height: 31.5rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 39.5rem;
    background-position: 0 30%;
  }
}
.hero__text {
  font-size: 0.84rem;
  position: relative;
  color: #FFF;
  width: 15rem;
  top: 1.6rem;
  left: 0.95rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .hero__text {
    width: 30rem;
    font-size: 1.5rem;
    font-weight: 600;
    left: 2.2rem;
    top: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    top: 12.3rem;
    left: 8.1rem;
  }
}
.hero__title {
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  color: #FFF;
  width: 15.2rem;
  top: 2.1rem;
  left: 0.95rem;
  line-height: 2rem;
  letter-spacing: 0.3px;
}
@media (min-width: 768px) {
  .hero__title {
    width: 33rem;
    font-size: 3.65rem;
    line-height: 4.15rem;
    top: 4.35rem;
    left: 2.2rem;
    letter-spacing: 0.8px;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    width: 31rem;
    font-size: 3.5rem;
    top: 13.2rem;
    left: 8.1rem;
    letter-spacing: 2.6px;
  }
}
.hero__song {
  position: relative;
  width: 18rem;
  top: 3.3rem;
  left: 0.95rem;
}
@media (min-width: 768px) {
  .hero__song {
    width: 26.35rem;
    top: 7.8rem;
    left: 2.2rem;
  }
}
@media (min-width: 1280px) {
  .hero__song {
    width: 25.6rem;
    left: 46rem;
    top: 5.3rem;
  }
}

iframe {
  height: 6rem;
}
@media (min-width: 768px) {
  iframe {
    height: 8.5rem;
  }
}

.shows {
  padding: 1.85rem 0 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .shows {
    padding: 3rem 1.25rem 2.4rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 6.7rem 2.4rem 8rem;
  }
}
.shows__title {
  padding: 0 0.95rem 0.85rem;
  font-size: 1.54rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .shows__title {
    font-size: 2.18rem;
    padding: 0 0.95rem 3.9rem;
  }
}
.shows__subtitle {
  color: #AFAFAF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.6rem;
  padding-bottom: 0.28rem;
}
@media (min-width: 768px) {
  .shows__subtitle {
    font-size: 0.75rem;
    padding-right: 0;
    display: none;
  }
}
@media (min-width: 1280px) {
  .shows__list {
    padding-top: 3.4rem;
  }
}
.shows__item {
  display: flex;
  padding: 0.87rem 0.95rem;
  flex-direction: column;
  border-bottom: solid 1px #E1E1E1;
  gap: 0.7rem;
  box-sizing: border-box;
  cursor: pointer;
}
@media (min-width: 768px) {
  .shows__item {
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    padding: 0.91rem 1.48rem;
  }
}
@media (min-width: 1280px) {
  .shows__item {
    padding: 0.91rem 1.3rem;
    width: 50.2rem;
  }
}
@media (min-width: 768px) {
  .shows__item:first-child p:nth-of-type(odd) {
    display: block;
    position: absolute;
    top: 44rem;
  }
}
@media (min-width: 1280px) {
  .shows__item:first-child p:nth-of-type(odd) {
    top: 49.5rem;
  }
}
.shows__item:hover {
  background-color: #FAFAFA;
}
.shows__item--active {
  background-color: #E1E1E1;
}
.shows__venue, .shows__date, .shows__location {
  font-size: 0.8rem;
  display: inline-block;
}
@media (min-width: 768px) {
  .shows__venue, .shows__date, .shows__location {
    font-size: 0.85rem;
    width: 6.5rem;
  }
}
@media (min-width: 1280px) {
  .shows__venue, .shows__date, .shows__location {
    width: 9rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  .shows__location {
    width: 7rem;
  }
}
@media (min-width: 1280px) {
  .shows__location {
    width: 8rem;
  }
}
.shows__date {
  font-weight: 600;
  width: 7.35rem;
}
@media (min-width: 1280px) {
  .shows__date {
    width: 15rem;
  }
}
@media (min-width: 768px) {
  .shows__date-warp, .shows__location-wrap, .shows__venue-wrap {
    display: flex;
    flex-wrap: nowrap;
  }
}
.shows__button {
  background-color: #323232;
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
@media (min-width: 768px) {
  .shows__button {
    margin: 0;
    width: 9.5rem;
    font-weight: 500;
    font-size: 0.95rem;
  }
}/*# sourceMappingURL=shows.css.map */